/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 14, 2016, 8:08:27 PM
    Author     : jakeMalwitz
*/
html, body {
    margin: 0;
    padding: 0;
    font-family: Futura, "Times New Roman", Arial;
}

body {
    background: url(5th.jpg) no-repeat fixed;
    background-size: cover;
}

.header {
  padding: 5px;
}

.header h1 {
    color: white;
    padding: 10px;
    margin: auto;
    font-size: 48px;
    display: block;
    margin: auto;
    width: 40%;
    text-align: center;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 4px 4px 4px gray;
}

.header a {
   text-align: center;
   display: block;
   margin: auto;
   width: 5%;
   color: white;
   font-size: 18px; 
   text-decoration: none;
   margin: 40px;
   padding: 40px;
}


#button {
    background-color: gray;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    padding: 4px 8px 4px 8px;
    margin: 0px 40px 0px 40px;
    border-radius: 12px;
}

#button:hover {
    background-color: white;
    color: gray;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.container {
    color: white;
    font-size: 18px;
    background: black;
    opacity: 0.7;
    filter: alpha(opacity);
    text-align: center;
    margin: 40px;
    padding: 40px;
}
.employment p {
    text-align: left;
}
.courses ul { 
    list-style-type: none;
}